html {
    background-color: black;
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

h4 {
    margin: 10px;
}

.body {
    justify-content: center;
}
/* Header Styling */

.header {
    display: flex;
    width: 100%;
    height: 69px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.nav {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.mission {
    padding-left: 10px;
    padding-right: 10px;
}

.featured-tea {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-locations {
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    display: inline-flex;
    height: 50px;
}

/* Mission Statement Styling */

.mission-container {
    display: flex;
    justify-self: center;
    background-image: url("images/img-mission-background.jpeg");
    background-position-x: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 700px;
    z-index: 1;
}

.statement-container {
    flex-direction: column;
    flex: 1 1 1200px;
    background-color: black;
    text-align: center;
    max-width: 1200px;
}


/* Tea of the Month Styling */

.tea-of-month-title {
    text-align: center;
}

.tea-of-month-container {
    display: flex;
    flex: 1 1 1000px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.tea-of-month-tea {
    display: inline-flex;
    flex-direction: column;
}

.tea-image {
    display: inline-flex;
}

.tea-name {
    background-color: black;
    width: 100%;
    text-align: center;
}

/* Locations Styling */

.locations-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/img-locations-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.locations-title {
    padding-top: 80px;
}

.locations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.address {
    max-width: 300px;
    flex: 1 1 300px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    text-align: center;
    opacity: 1;
    line-height: 2;
}